header {
  background-color: transparent;
  padding: 2.4rem;
  position: fixed;
  width: 100%;

  .float-container {
    position: relative;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text);

    .link {
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;
      margin: 0 2.4rem;
      color: inherit;
      opacity: 0.8;
      transition: all 0.2s;

      &__active {
        position: relative;
        opacity: 1;

        &::after {
          position: absolute;
          content: "";
          height: 2px;
          width: 32px;
          background-color: var(--color-primary);
          bottom: -20%;
          left: 50%;
          transform: translateX(-50%);
          animation: growX 0.2s;
        }
      }
    }
  }
}

.toggleContainer {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

/* Animations */
@keyframes growX {
  0% {
    width: 0px;
  }
}
