.entry {
  display: flex;
  align-items: flex-end;
  padding: 1.2rem 0;
  flex-wrap: wrap;
  transition: all 0.3s;

  animation: popIn 0.3s;

  &__query {
    font-size: 1.8rem;
    flex: 0 0 50%;
  }

  &__time {
    font-size: 1.2rem;
    flex: 0 0 50%;
    text-align: right;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0%);
  }
}
